.InfoCard {
	border: 8px solid rgb(189 215 238 / 1);
	border-radius: 30px;
	display: inline-block;
	width: 300px;
	margin: 10px;
}

.InfoCard div {
	padding: 0 10px 0 0;
	display: flex;
}

.Image {
	display: inline-block;
	height: 100px;
	border-radius: 40px;
	margin: auto auto;
	padding: 10px 0 10px 10px;
}

.Text {
	display: inline-block;
	text-align: center;
	margin: auto auto;
	font-weight: 700;
	white-space: pre-wrap;
}

@media only screen and (max-width: 350px) {
	.InfoCard {
		width: auto;
	}
}
