.Layout {
	font-family: 'Noto Serif JP';
	height: 15%;
	/* background-color: white; */
	/* position: fixed; */
}

.Layout h1 {
	font-family: 'Mukta';
}

.Content {
	margin: 15% 20% 4% 20%;
}

.PageName {
	font-family: 'Mukta';
	margin: 5% 0 0 0;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 5px;
}

footer {
	display: flex;
	border-top: solid 1px rgba(0, 0, 0, 0.3);
	font-size: 12px;
}

footer > div {
	margin: auto;
	text-align: center;
}

footer > div > a {
	text-decoration: none;
	font-weight: bold;
	color: #8c8c8c;
}

footer > div > a:active {
	color: #8c8c8c;
}

@media (max-width: 1000px) {
	.Content {
		margin: 15% 1% 1% 1%;
	}
}
