.RootNavigation {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.DesktopNavigation {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 4%;
	background-color: white;
	opacity: 0.9;
}

.DesktopNavigation .Navigation {
	height: auto;
	width: 100%;
	text-align: center;
	padding: 20px;
	min-width: 520px;
}

.DesktopNavigation .Link {
	margin: auto;
	text-align: center;
	display: inline-block;
	width: auto;
	margin: auto;
	height: 100%;
}

.Link a {
	margin: 20px;
	text-decoration: none;
	color: black;
	opacity: 0.7;
}

.Link a:hover {
	opacity: 1;
}

.DesktopNavigation a.active {
	opacity: 1;
	border-bottom: 1px solid black;
}

.SocialMediaLinks {
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.SocialMediaLinks a {
	margin: 0px 8px 0px 8px;
	font-size: 160%;
	color: black;
	opacity: 0.5;
}

.SocialMediaLinks a:hover {
	opacity: 1;
}

.MobileNavigation {
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	height: 250px;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 60px 5px 5px 5px;
	border-radius: 5px;
	z-index: 100;
}

.SideNavigationButton {
	display: none;
	margin: 10px;
}

.SideNavigationBackdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 50;
}

@media (max-width: 940px) {
	.DesktopNavigation {
		display: none;
	}

	.SideNavigationButton {
		display: block;
	}

	.SideNavigationButton div {
		display: inline-block;
	}

	.SideNavigationButton .Title {
		padding: 10px 0 0 15px;
		font-style: italic;
		font-weight: 600;
	}

	.MobileNavigation .Navigation {
		padding: 5px;
		height: 75%;
	}

	.MobileNavigation .Navigation .Link {
		text-align: center;
		margin-top: 10px;
	}

	.MobileNavigation .Navigation .Link a {
		margin: 0;
	}

	.MobileNavigation .SocialMediaLinks a {
		font-size: 140%;
	}

	.Button {
		float: right;
		font-size: 30px;
	}

	.Button:hover {
		cursor: pointer;
	}
}
