.SendButton {
	width: 97%;
	background-color: white;
	margin-top: 15px;
	border-radius: 3px;
	letter-spacing: 4px;
	font-weight: 700;
	font-size: 15px;
}

.SendButton:hover {
	cursor: pointer;
	background-color: rgb(224, 224, 224);
}
